.container {
  display: flex;
  padding: 10px 0;
  width: 100%;
  height: fit-content;
  cursor: pointer;
  font-size: 0.95rem;
}

.image-wrapper {
  display: flex;
  position: relative;
  min-width: 100px;
  height: 100px;
  margin-right: 12px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
  border: none;
  background-color: #dbdbdb;
  border-radius: 50%;
}

.text-items-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.9rem;
}

.barbershop-name-wrapper {
  font-size: 1rem;
  font-weight: 400;
  padding: 0 10px 8px 0;
  margin: 0 0 10px 0;
  cursor: pointer;
  background-color: #e6e6e6;
  width: 85px;
  height: 20px;
  border-radius: 5px;
}

.barbershop-name {
  width: fit-content;
}

.barbershop-location {
  padding-bottom: 5px;
  color: #666;
  background-color: #e6e6e6;
  width: 230px;
  height: 20px;
  border-radius: 5px;
}

@media (max-width: 550px) {
  .container {
    width: calc(100% - 20px);
    padding: 10px;
  }

  .container:last-child {
    padding-bottom: 0;
  }

  .image-wrapper {
    min-width: 90px;
    height: 90px;
  }

  .barbershop-name-wrapper {
    padding-bottom: 1px;
    font-size: 0.9rem;
  }
}
