.container {
  display: flex;
  width: 100%;
  height: calc(100vh - 50px);
}

.map-container {
  width: 100%;
  height: 100%;
  background-image: var(--grid-pattern);
  background-repeat: repeat;
}

.mobile-tab-container {
  display: none;
}

.mobile-map {
  display: none;
}

.tab {
  width: 500px;
  height: 100%;
  border-right: 1px solid #000;
  padding: 15px 30px;
  z-index: 1100;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
}

.tab::-webkit-scrollbar {
  background: #fff;
  width: 10px;
}

.tab::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-clip: content-box;
  background-color: #fff;
}

.tab::-webkit-scrollbar-track-piece {
  background: #fff;
}

.tab:hover::-webkit-scrollbar-thumb {
  background-color: lightgray;
}

.bookmark {
  display: flex;
  position: absolute;
  top: 82px;
  left: 500px;
  background-color: #fff;
  border: 1px solid #000000;
  border-radius: 100px;
  text-align: center;
  z-index: 1000;
  max-width: 100px;
  width: 100%;
  height: 37.5px;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  z-index: 1099;
}

.tab-container {
  display: flex;
}

.bookmark:hover {
  left: 510px;
}

.filter-wrapper {
  font-size: 0.8rem;
  font-weight: 400;
  display: flex;
  position: absolute;
  top: 60px;
  right: 0;
  width: fit-content;
  height: fit-content;
  padding: 7px 10px;
  background-color: #fff;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  z-index: 1000;
}

.filter {
  display: flex;
  margin-right: 10px;
}

.filter-title {
  margin-right: 0.3rem;
}

.filter-item {
  --clr-bg: transparent;
  --clr-underline: #e6e6e6;
  --clr-pos-from: 55%;
  --clr-pos-to: 85%;
  transition: all 0.1s ease-in;
  background: linear-gradient(
    180deg,
    var(--clr-bg) 0 var(--clr-pos-from),
    var(--clr-underline) var(--clr-pos-from) var(--clr-pos-to),
    var(--clr-bg) var(--clr-pos-to) 100%
  );
}

.close-button {
  margin: 0 15px 0 0;
}

@media (max-width: 550px) {
  .container {
    overflow: hidden;
  }

  .map-container {
    display: none;
  }

  .mobile-tab-container {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .mobile-map {
    display: flex;
    width: 100%;
    min-height: 350px;
    height: 350px;
    background-image: var(--grid-pattern);
    background-repeat: repeat;
  }

  .tab {
    width: 100%;
    height: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-right: none;
    padding: 0;
  }

  .filter-item {
    --clr-pos-from: 38%;
    --clr-pos-to: 72%;
  }

  .tab-container {
    display: none;
  }
}
