@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "GothicA1";
  src: url("/GothicA1-ExtraLight.ttf");
  font-style: normal;
  font-weight: 300;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: "GothicA1";
  src: url("/GothicA1-Light.ttf");
  font-style: normal;
  font-weight: 400;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: "GothicA1";
  src: url("/GothicA1-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: "GothicA1";
  src: url("/GothicA1-SemiBold.ttf");
  font-style: normal;
  font-weight: 700;
  unicode-range: U+AC00-D7A3;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  overflow: hidden;
}

.nav-container {
  display: flex;
  min-height: 70px;
  border-bottom: 1px solid #000;
  padding: 0 30px;
}

.title {
  font-size: 1.2rem;
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
}

.search-container {
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  position: relative;
  display: flex;
  width: 70%;
  max-width: 500px;
  height: 35px;
  border: 1px solid #000;
  /* border-radius: 5px; */
  font-size: 1rem;
  justify-content: flex-end;
  align-items: center;
}

.search-input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  flex-grow: 1;
  font-size: 1rem;
  border: none;
  /* font-family: "Montserrat", "GothicA1"; */
  font-family: "Montserrat", "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.magnifying-glass {
  position: absolute;
  /* display: flex; */
  padding-left: 10px;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* width: fit-content; */
  /* cursor: pointer; */
  left: 0;
}

.search-button {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  cursor: pointer;
  padding-right: 10px;
}

.category {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0 10px;
}

.content-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.filter-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.filter-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 350px;
  background-color: #fff;
  border: 1px solid #000;
  z-index: 1000;
  padding: 15px 40px;
}

.filter-icon {
  width: 17.59px;
  height: 17.59px;
  cursor: pointer;
}

.close {
  font-size: 2.5rem;
  font-weight: 300;
  cursor: pointer;
}

.filter-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.filter-input {
  width: 200px;
}

.filter-box {
  font-size: 0.9rem;
  font-weight: 400;
  display: flex;
  position: absolute;
  top: 70px;
  right: 0;
  width: fit-content;
  height: fit-content;
  padding: 10px 15px;
  background-color: #fff;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  z-index: 1000;
}

.filter-box-content {
  margin-right: 10px;
}

.filter-box-content:last-of-type {
  margin-right: 0;
}

.tab-container {
  min-width: 390px;
  width: 390px;
  /* height: calc(100% - 110px); */
  border-right: 1px solid #000;
  padding: 15px 20px;
  overflow: scroll;
  height: 100%;
}

.tab {
  display: flex;
  flex-direction: column;
}

.detail-bar-container {
  padding: 20px;
}

.map-container {
  width: 100%;
  height: 100%;
  /* height: calc(100% - 110px); */
}

.tab-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  padding: 10px 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
}

.filter-blank {
  flex-grow: 1;
}

.tab-select {
  /* font-family: "Montserrat", "GothicA1"; */
  font-family: "Montserrat", "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  border: none;
  padding-right: 10px;
}

.tab-title {
  margin-bottom: 50px;
  padding-left: 10px;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.list-container {
  display: flex;
  padding: 10px 0;
  width: 100%;
  height: fit-content;
}

.list-container:last-child {
  padding-bottom: 50px;
}

.carousel-container {
  /* style={{ display: "flex", position: "relative", width: "100px", height: "100px" }} */
  display: flex;
  position: relative;
  min-width: 100px;
  height: 100px;
  margin-right: 12px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
  border: 1px solid #666;
  border-radius: 50%;
}

.sub-carousel-container {
  display: flex;
  margin-bottom: 30px;
}

.list-information {
  display: flex;
  flex-direction: column;
  font-size: 0.95rem;
  padding: 15px 0 10px 0;
}

.list-name {
  font-size: 1rem;
  font-weight: 500;
  padding-right: 10px;
  padding-bottom: 8px;
  cursor: pointer;
}

.list-location {
  padding-bottom: 5px;
  color: #666;
}

.list-description {
  line-height: 180%;
}

.is-inner {
  width: fit-content;
  height: fit-content;
  padding: 15px;
  font-size: 1.05rem;
}

.overlay-detail {
  font-size: 0.95rem;
  display: flex;
  padding: 10px 0 0 0;
  width: 100%;
}

.overlay-detail-title {
  width: 100px;
}

.more-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.button {
  display: flex;
  justify-content: center;
  width: fit-content;
  border: 1px solid #000;
  cursor: pointer;
  padding: 2px;
}

.sub-title-container {
  display: flex;
}

.slick-list {
  width: 500px;
  height: 100%;
}

.sub-information-container {
  display: flex;
  flex-direction: column;
}

.sub-flexbox {
  display: flex;
  line-height: 200%;
  font-size: 1rem;
  margin-bottom: 2px;
}

.sub-title {
  width: 100px;
}

.sub-information-title {
  font-weight: 500;
}

.sub-information {
  width: 100%;
}

.barbershop-url {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.barber-name-map {
  margin-right: 5px;
}

.pin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85px;
  /* width: fit-content; */
  height: fit-content;
  background-color: #fff;
  font-size: 0.8rem;
  font-weight: 500;
  border: 1px solid #000;
  border: 1px solid rgb(4, 117, 244);
  border-radius: 5px;
  padding: 5px 0;
}

.test-detail {
  width: 380px;
  height: 250px;
  position: relative;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.upload-title {
  width: 150px;
}

.upload-item {
  display: flex;
  width: 500px;
  height: 50px;
  align-items: center;
}

.upload-input {
  width: 300px;
  height: 30px;
  border: 1px solid #000;
  font-size: 1.1rem;
  font-family: "Montserrat", "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
